
table {border: 1px solid grey;} 

th {border: 1px solid grey;}

td {border: 1px solid grey;}


form {
  display: inline-block;  
  max-width: 100%;
  height: 100mm;
  background-color: rgba(180,180,180,.8); 
  border: 1px solid rgba(155,155,155,.6);
}
.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select{ font-size:10px; background-color: #fff }

.textBox {
  min-width: 210mm;
  max-height: 100mm;
  max-width: 210mm;
  min-height: 100mm;
  border: 1px solid rgba(155,155,155,.6);
  padding: 12px;
  overflow: scroll; 
  background-color: #fff;
}

.textBox #sourceText {
  min-width: 210mm;
  line-height: 16px;
  overflow: scroll;
  padding: 0;
  margin: 0;
  max-width: 210mm;
  max-height: 100mm;
  min-height: 100mm;
}
  .stringText {
    display: inline-block;
    min-width: 50mm;
    min-height: 5mm;
    background-color: #fff;
    padding: 1px 1px 1px 10px
  }

  .stringText #sourceText {
    min-width: 210mm;
    line-height: 16px;
    overflow: scroll;
    padding: 0;
    margin: 0;
    max-width: 210mm;
    max-height: 100mm;
    min-height: 100mm;
  }

  table.iksweb{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
  }
  table.iksweb,table.iksweb td, table.iksweb th {
    border: 1px solid #595959;
  }
  table.iksweb td,table.iksweb th {
    padding: 3px;
    width: 30px;
    height: 35px;
  }
  table.iksweb th {
    background: #347c99; 
    color: #fff; 
    font-weight: normal;
  }

  #hidden
  {
    display: none;
  }

  #switchBox, label, #btn { cursor: pointer; } 

  #mark  {break-after: page;}

  @page {
    @top-center {
      content: "";
  }
  }
  
  @page {
    @bottom-center {
      content: "";
  }
  }
  