
table {border: 1px solid grey;} 

th {max-width: 30mm;border: 1px solid grey;}

td {max-width: 30mm; border: 1px solid grey;}

@graph_cont {max-width: 40mm;}

form {
  display: inline-block;  
  max-width: 100%;
  height: 100mm;
  background-color: rgba(180,180,180,.8); 
  border: 1px solid rgba(155,155,155,.6);
}
.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select{ font-size:10px; background-color: #fff }

#text_col {min-width: 100mm}
.text_col_2{overflow: scroll}
textarea::-webkit-scrollbar{
  width: 0;
  }

.textBox {
  min-width: 210mm;
  max-height: 100mm;
  max-width: 210mm;
  min-height: 100mm;
  border: 1px solid rgba(155,155,155,.6);
  padding: 12px;
  overflow: scroll; 
  background-color: #fff;
}

.textBox #sourceText {
  min-width: 10mm;
  line-height: 16px;
  overflow: scroll;
  padding: 0;
  margin: 0;
  max-width: 10mm;
  max-height: 10mm;
  min-height: 10mm;
}
  .stringText {
    display: inline-block;
    min-width: 50mm;
    min-height: 5mm;
    background-color: #fff;
    padding: 1px 1px 1px 10px
  }

  .stringText #sourceText {
    min-width: 210mm;
    line-height: 16px;
    overflow: scroll;
    padding: 0;
    margin: 0;
    max-width: 210mm;
    max-height: 100mm;
    min-height: 100mm;
  }

  table.iksweb{
    width: 50%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
  }
  table.iksweb,table.iksweb td, table.iksweb th {
    border: 1px solid #595959;
  }
  table.iksweb td,table.iksweb th {
    padding: 3px;
    width: 10px;
    height: 35px;
  }
  table.iksweb th {
    background: #347c99; 
    color: #fff; 
    font-weight: normal;
  }

  #hidden
  {
    display: none;
  }

  #switchBox, label, #btn { cursor: pointer; } 

  #mark  {break-after: page;}
  #mark2  {break-after: page;}
  #mark3  {break-after: page;}
  #mark4  {break-after: page;}
  #mark5  {break-after: page;}

  .titul_top {text-align: center;
            line-height: 0.5;}
  .sod {display : inline}
  .line {
    width: 100%;
    }
    .name {
    float: left;
    width: 50%;
    }
    .page_num {
    float: right;
    text-align: right;
    width: 50%;
    }
    .clear {
    clear:both;
    }
    
  
  @page {
    @top-center {
      content: "";
  }
  }
  @page {
    @bottom-center {
      content: "";
  }
  }
  
  @page {
    @bottom-center {
          content: counter(page);
    }
  }

 
  .pagedjs_first_page  {
    @bottom-center {
      content: "";
  }
  }
 